body {
    background-color: rgb(161, 100, 223);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 3px;
    border: none;
    color: #fff;
    margin: 10px;
    padding: 20px 40px;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}