body {
  margin: 0;
  height: 100vh;
  background-color: #a56de2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #5e2d91;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
